.container {
  background-color: #fff;
  width: 972px;
  height: 512px;
  border-radius: 28px;
  padding: 32px;
  box-shadow: 0 4px 64px rgb(0 0 0 / 2%), 0 2px 8px rgb(0 0 0 / 8%);
  display: flex;
}

.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left {
  padding-right: 32px;
}

.right {
  background-color: #00474b;
  border-radius: 16px;
  padding: 32px;
}
