.container {
  background-color: #fff;
  width: 972px;
  height: 512px;
  border-radius: 28px;
  padding: 32px;
  box-shadow: 0 4px 64px rgb(0 0 0 / 2%), 0 2px 8px rgb(0 0 0 / 8%);
  display: flex;
}

.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left {
  padding-right: 32px;
  justify-content: space-between;
}

.right {
  background-color: #00474b;
  border-radius: 16px;
  padding: 32px;
  justify-content: space-between;
}

.label {
  margin-bottom: 16px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 120px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalLabel {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
}

.totalText {
  font-size: 12px;
  font-weight: 100;
  color: #aaa;
}

.totalResult {
  font-size: 40px;
  font-weight: 400;
  color: #26c2ad;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    height: auto;
    border-radius: 0;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
  }

  .left {
    width: 300px;
    padding-right: 0;
  }

  .section {
    height: 188px;
    margin-bottom: 32px;
  }

  .right {
    width: 300px;
    padding: 24px;
  }

  .total {
    margin-bottom: 24px;
  }

  .totalLabel {
    font-size: 14px;
  }

  .totalResult {
    font-size: 32px;
  }
}
